
	<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <form method="POST" action="/logout"> 
    	<h2> Welcome  </h2>
       <input type="Submit" value="Log out">
  </body>
</html>   


 <a href="http://localhost:8080/register"> Register</a>
	<a href="http://localhost:8080/login">  Login </a>