<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <form method="POST" action="/login">
    	  <input id="USERNAME" type="text" name="USERNAME" placeholder="http://" style="width: 300px">
    	  <input type="submit" value="Submit">
     
    </form>
  </body>
</html>