		<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <form method="POST" action="/logout"> 
    	<h2> Welcome  </h2>
       <input type="Submit" value="Log out">
  </form>
  </body>
</html>   


 