<!DOCTYPE html>
<html lang="en">
  <head>     </head>

  <body style="font-size:20px; padding:50px;">
  	<H2>Register New User</H2>
    <form action="/register" method="POST" style="margin:150px;">
 
      <input id="mail" type="email" name="email" placeholder="email" style="width: 300px">
      <input id="pass" type="password" name="password" placeholder="password" style="width: 300px"> 
      <input type="submit" value="Register">
 
    </form>
  </body>
</html>